<!DOCTYPE html>
<html>
<title>add your own meme</title>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        
    </head>
    <body >
<div >
    <a  href="/">Home</a>
      <a href="/search">search for a meme</a>
      
</div>   
            
    <br>
    <center>
    <div >
        
        <h1>Add your meme:</h1>
        <br>

        <form action="/add_meme" method="post">

        <!--  -->
        <h3>meme's name</h3>
        <input type="text"name="meme_name" placeholder="meme name" >
        <br>
        
        <h3>insert img link</h3>
        <input type="text"name="meme_img" placeholder="insert link" >
        <br>
        <input type="submit" value="Submit" >
        <br>
        

        </form>
        
    </div>
    </center>
    </body>
</html>
