<!doctype html>
<html>
<title>meme review</title>
<head>
	<style type="text/css">
		body{
	background-color: lightblue;
}



	</style>


<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Meme review!</h1>
  <p>the place where you can add, watch and review your favorite memes!</p> 
</div>
 <center>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>search for a meme</h3>
      <a href="/search">search for a meme</a>
      <p>easly search for a meme just by typing it's name</p>
    </div>
   
    <div class="col-sm-4">
      <h3>add a meme</h3>        
     <a href="/add_meme">add a meme</a>
      <p>upload your own meme</p>
    </div>
  </div>
</div>
</center> 

 
 
  


</body>
</html>