
<!doctype html>
<html>
<title>meme review</title>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">


</head>
<style type="text/css">
		body{
	background-image: url("maxresdefault.jpg");
}




	</style>
<body>
<!-- head -->
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>


<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/add_meme">Add a meme</a></li>
  <li><a href="/search">Search for a meme</a></li>
  
</ul>

<!--  head-->
<center>
	<h3>search by the meme's name</h3>
	<form action="/search" method="POST">
		<input type="text"name="meme_name" placeholder="insert meme name" >
		<br>
        <input type="submit" value="Submit" >
	</form>
</center>
<br>





</body>
</html>