
<!doctype html>
<html>
<title>meme review</title>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">


</head>
<style type="text/css">
		body{
	background-image: url("maxresdefault.jpg");
}




	</style>
<body>
<!-- head -->
<center>
<div >
  <a href="/">Home</a>
  <br>
  <a href="/add_meme">add a meme</a>
  

</div>
</center>
<!--  head-->
<center>
	<h3>search by the meme's name</h3>
	<form action="/search" method="POST">
		<input type="text"name="meme_name" placeholder="insert meme name" >
		<br>
        <input type="submit" value="Submit" >
	</form>
</center>
<br>





</body>
</html>